<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>event</key>
          <string>Coach Van Brocklin is Fired</string>
          <key>year</key>
          <integer>1974</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons draft #1 Draft pick  Steve Bartkowski </string>
          <key>year</key>
          <integer>1975</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Coach Marion Campbell is fired</string>
          <key>year</key>
          <integer>1976</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons very First Playoff win vs Philly</string>
          <key>year</key>
          <integer>1978</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons START 9-0  </string>
          <key>year</key>
          <integer>1980</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons overcome 10 point deficit in the 3rd quarter to GB</string>
          <key>year</key>
          <integer>1981</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons sold 55,144 season tickets</string>
          <key>year</key>
          <integer>1982</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>RB William Andrews finished with 1567 rushing yards </string>
          <key>year</key>
          <integer>1983</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>RB Gerald Riggs opens the season rushing for 202 yards against the saints </string>
          <key>year</key>
          <integer>1984</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The falcons finish 4-12 a second time </string>
          <key>year</key>
          <integer>1985</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The falcons defeat the defending SB champion redskins 21-20</string>
          <key>year</key>
          <integer>1987</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The falcons defense allowed only 6 touchdowns in the final seven games</string>
          <key>year</key>
          <integer>1988</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Prime time Era begins as he reports to camp after a lengthly hold out</string>
          <key>year</key>
          <integer>1989</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons hire 9th head coach Jerry Glanville </string>
          <key>year</key>
          <integer>1990</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons CBs &quot;PrimeTime&quot; and Tyler Mckyer had 6 interceptions a piece in a playoff game </string>
          <key>year</key>
          <integer>1992</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons scored over 300 points for the fourth consecutive season </string>
          <key>year</key>
          <integer>1993</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>June Jones is named the falcons 10the head coach </string>
          <key>year</key>
          <integer>1994</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>K Mortens Era begins as he is signed as a free agent</string>
          <key>year</key>
          <integer>1995</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Falcons go on a 10 game losing streak</string>
          <key>year</key>
          <integer>1996</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>DE Chuck Smith recorded his 55th sack to rank 2nd in the nfl </string>
          <key>year</key>
          <integer>1997</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The falcons make it to their first Super Bowl ever </string>
          <key>year</key>
          <integer>1998</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The falcons faced a superbowl hangover with a 5-11 season record</string>
          <key>year</key>
          <integer>1999</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The Mike Era begins as he is drafted in the first round </string>
          <key>year</key>
          <integer>2001</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Mike Vick ran all over the vikings in the playoffs finsihing with 173 rushing yards </string>
          <key>year</key>
          <integer>2002</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Down Goes the falcons after Vick suffered a broken leg the falcons finsihed  5-11</string>
          <key>year</key>
          <integer>2003</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Vick takes the team back to the NFC championship losing to the eagles once again</string>
          <key>year</key>
          <integer>2004</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The Falcons fire Coach Jim Mora </string>
          <key>year</key>
          <integer>2006</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Vick gets suspended and Roddy White takes over </string>
          <key>year</key>
          <integer>2007</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The Matty Ice Era begins as Vick goes to jail </string>
          <key>year</key>
          <integer>2008</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>88 The Vetran steps up big for the falcons </string>
          <key>year</key>
          <integer>2009</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The julio Jones Era begins as he is drafted in the 1st round </string>
          <key>year</key>
          <integer>2011</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Ryan Jones and Gonzales takes the falcons to the nfc championship </string>
          <key>year</key>
          <integer>2012</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>88 the vetran retires </string>
          <key>year</key>
          <integer>2013</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Mike smith is fired after a 6-10 losing season</string>
          <key>year</key>
          <integer>2014</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>Dan quin Era begins</string>
          <key>year</key>
          <integer>2015</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The falcons were the number on offense in the league and lost the super bowl to brady and the </string>
          <key>year</key>
          <integer>2016</integer>
    </dict>
    <dict>
          <key>event</key>
          <string>The falcons are over their 28-3 superbowl hangover as the find themselves in the playoffs the following year</string>
          <key>year</key>
          <integer>2017</integer>
    </dict>
</array>
</plist>
